<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (C) 2009-2022 BonitaSoft S.A.
 BonitaSoft, 32 rue Gustave Eiffel - 38000 Grenoble
 
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 2.0 of the License, or
 (at your option) any later version.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.bonitasoft.org/ns/actormapping/6.0"
            class="org.bonitasoft.bpm.model.actormapping.ActorMappingPackage"
            genModel="model/process.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated process -->
      <parser
            type="actormapping"
            class="org.bonitasoft.bpm.model.actormapping.util.ActorMappingResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.bonitasoft.org/ns/bpm/configuration"
            class="org.bonitasoft.bpm.model.configuration.ConfigurationPackage"
            genModel="model/process.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated process -->
      <parser
            type="conf"
            class="org.bonitasoft.bpm.model.configuration.util.ConfigurationResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.bonitasoft.org/model/connector/configuration"
            class="org.bonitasoft.bpm.model.connectorconfiguration.ConnectorConfigurationPackage"
            genModel="model/process.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated process -->
      <parser
            type="connectorconfig"
            class="org.bonitasoft.bpm.model.connectorconfiguration.util.ConnectorConfigurationResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.bonitasoft.org/ns/bpm/expression"
            class="org.bonitasoft.bpm.model.expression.ExpressionPackage"
            genModel="model/process.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.bonitasoft.org/ns/bpm/kpi"
            class="org.bonitasoft.bpm.model.kpi.KpiPackage"
            genModel="model/process.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.bonitasoft.org/ns/bpm/parameter"
            class="org.bonitasoft.bpm.model.parameter.ParameterPackage"
            genModel="model/process.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.bonitasoft.org/ns/bpm/process"
            class="org.bonitasoft.bpm.model.process.ProcessPackage"
            genModel="model/process.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.bonitasoft.org/ns/bpm/form"
            class="org.bonitasoft.bpm.model.form.FormPackage"
            genModel="model/process.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.bonitasoft.org/ns/bpm/process/simulation"
            class="org.bonitasoft.bpm.model.simulation.SimulationPackage"
            genModel="model/process.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.bonitasoft.org/ns/bpm/process/decision"
            class="org.bonitasoft.bpm.model.process.decision.DecisionPackage"
            genModel="model/process.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.bonitasoft.org/ns/bpm/process/decision/transitions"
            class="org.bonitasoft.bpm.model.process.decision.transitions.TransitionsPackage"
            genModel="model/process.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated NOT process manual resource factory
      (registered with process extension, not used for now) -->
      <parser
            type="process"
            class="org.bonitasoft.bpm.model.process.util.ProcessResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.content_handler">
      <!-- @generated NOT content handler for .proc extension -->
      <contentHandler
            priority="10000"
            class="org.bonitasoft.bpm.model.util.internal.ProcContentHandler">
      </contentHandler>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.content_parser">
      <!-- @generated NOT linking the process resource factory to the content type -->
      <parser
            class="org.bonitasoft.bpm.model.process.util.ProcessResourceFactoryImpl"
            contentTypeIdentifier="bonita-process-model">
      </parser>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <!-- @generated NOT register CustomMigrationFactoryImpl with Bonita Patch for Notation model -->
      <factory
            class="org.bonitasoft.bpm.model.process.util.migration.internal.CustomMigrationFactoryImpl"
            uri="http://www.eclipse.org/emf/edapt/migration/0.3">
      </factory>
   </extension>

</plugin>
