<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="platform" sequenceNumber="1741966347">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.1400.v20240820-0604"/>
      <unit id="org.eclipse.sdk.feature.group" version="4.33.0.v20240903-0618"/>
      <unit id="org.eclipse.gmf.feature.group" version="1.16.4.202405171447"/>
      <unit id="org.eclipse.m2e.feature.feature.group" version="2.6.2.20240828-1954"/>
      <repository id="E2024-09" location="https://download.eclipse.org/releases/2024-09"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.edapt.runtime.feature.feature.group" version="1.5.0.202201311430"/>
      <repository location="http://download.eclipse.org/edapt/releases/15x/150"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.codehaus.groovy30.feature.feature.group" version="5.6.0.v202501010114-e2409"/>
      <repository location="https://groovy.jfrog.io/artifactory/plugins-release/e4.33/"/>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile,runtime,system" includeSource="true" missingManifest="generate" type="Maven" label="BonitaArtifactsModels">
      <feature id="org.bonitasoft.artifacts.model.feature" label="Bonita Artifacts Models Feature" provider-name="Bonitasoft S.A" version="1.2.0">
      </feature>
      <dependencies>
        <dependency>
          <groupId>com.sun.activation</groupId>
          <artifactId>jakarta.activation</artifactId>
          <version>1.2.2</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>com.sun.xml.bind</groupId>
          <artifactId>jaxb-osgi</artifactId>
          <version>2.3.8</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>jakarta.xml.bind</groupId>
          <artifactId>jakarta.xml.bind-api</artifactId>
          <version>2.3.3</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.bonitasoft.engine</groupId>
          <artifactId>bonita-business-archive</artifactId>
          <version>1.2.0</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.bonitasoft.engine</groupId>
          <artifactId>bonita-common-artifacts-model</artifactId>
          <version>1.2.0</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.bonitasoft.engine</groupId>
          <artifactId>bonita-form-mapping-model</artifactId>
          <version>1.2.0</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.bonitasoft.engine</groupId>
          <artifactId>bonita-process-definition-model</artifactId>
          <version>1.2.0</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.glassfish.hk2</groupId>
          <artifactId>osgi-resource-locator</artifactId>
          <version>2.4.0</version>
          <type>jar</type>
        </dependency>
      </dependencies>
      <repositories>
        <repository>
          <id>maven-central</id>
          <url>https://repo1.maven.org/maven2</url>
        </repository>
      </repositories>
    </location>
    <location includeDependencyDepth="infinite" includeDependencyScopes="compile,runtime,system" includeSource="false" missingManifest="generate" type="Maven" label="MavenJackson">
      <feature id="com.fasterxml.jackson.feature" label="Jackson Feature" provider-name="Bonitasoft S.A" version="2.18.3">
      </feature>
      <dependencies>
        <dependency>
          <groupId>com.fasterxml.jackson.dataformat</groupId>
          <artifactId>jackson-dataformat-yaml</artifactId>
          <version>2.18.3</version>
          <type>jar</type>
        </dependency>
      </dependencies>
    </location>
    <location includeDependencyDepth="infinite" includeDependencyScopes="compile,runtime,system" includeSource="false" missingManifest="generate" type="Maven" label="MavenDependenciesWithInfiniteDepth">
      <dependencies>
        <dependency>
          <groupId>org.assertj</groupId>
          <artifactId>assertj-core</artifactId>
          <version>3.24.2</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.mockito</groupId>
          <artifactId>mockito-core</artifactId>
          <version>4.6.1</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.mockito</groupId>
          <artifactId>mockito-junit-jupiter</artifactId>
          <version>4.6.1</version>
          <type>jar</type>
        </dependency>
      </dependencies>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>
